body {
    
    background: #c95e5e;
    background-image: url('cd.png');
    /* background-repeat:no-repeat; */
    background-size: contain;
    background-position:center;
    background-attachment: fixed;
    width:100% ;
    
}

img{
    width:100%;
}

div.item{
    width: 25%;

    margin-left: auto; */
    margin-right: auto; */
}

div.item{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div.random{
    transition: 1s;
}

div.item.a{
    width:50%;
}
div.item.c{
    width:75%;
}

div.item.one{
    border-radius: 50px;
}

div.item.two{
    border-radius: 10px;
    box-shadow:0px 20px 20px pink;
    overflow: hidden ;
    
}
div.item.three{
    box-shadow:0px 20px 20px white;
}
    
div.item.x{
    margin-left: auto;
    margin-right: auto;
}
div{
    width: 30%;
    border-radius: 50px;
    background: #c95e5e;
    box-shadow:  20px 20px 40px #ab5050,
             -20px -20px 40px #e76c6c;   
}

  