body {
    margin:20px;
    background-image: url('底面.png'); /* 替换为您的图片路径 */
    
  }
  
  div {
    box-sizing:border-box;
  }
  
  img {
    width:100%;
  }
  source{
    width: 100%;
  }
 
 div.m{
    margin: 100px;
 }

  div.largetext {
    font-size:60px;
    line-height:54px;
  }
  div.mediumtext2 {
    font-size:47px;
    line-height:52px;
  }
  
  div.mediumtext {
    font-size:27px;
    line-height:32px;
  }
  
  div.smalltext {
    font-size:19px;
    line-height:22px;
  }
  div.smalltext 2{
    font-size:17px;
    line-height:19px;
  }
  div.smallesttext {
    font-size:14px;
    line-height:18px;
  }
  
  div.sans {
    font-family: arial;
    font-weight: bold;
  }

  
  div.serif {
    font-family: times;
  }

  div.ltalic {
    font-family: times;
    font-style: bold italic;
    font-weight: bolder;
  }

  div.w100 {
    width: 100%;
    padding:5px;
  }
  div.w75 {
  width: 75%;
  padding:5px;
}
div.w60 {
    width: 60%;
    padding:5px;
  }

div.w50 {
  width: 50%;
  padding:5px;
}
div.w43 {
    width: 43%;
    padding:5px;
  }

div.w33 {
  width: 33.333%;
  padding:5px;
}

div.w23 {
    width: 23%;
    padding:5px;
  }




/* design */

div.row {
  display:flex;
  flex-wrap:wrap;
}
.video-container {
    display: flex;  /* 启用Flexbox */
    justify-content: space-around;  /* 在视频之间平均分配空间 */
}

div.col {
    margin: 5px;
}

div.title {
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
}


div.side {
  margin-left:auto;
}

div.center {
  margin-left:auto;
  margin-right:auto;
}

div.main {
    margin-top: 80px; 
  margin-bottom: 10px;
  border-bottom:1px solid black;
}
div.top{
    margin-top: 80px;
}
div.top2{
    margin-top: 180px;
}

div.scratch{
    margin-top: -290px;
}
div.scratch1{
    margin-top: -530px;
}
div.scratch2{
    margin-top: -500px;
}
div.scratch3{
    margin-top: -125px;
}
div.scratch4{
    margin-top: -865px;
}


/* color */
 